<div class="container py-5">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6">
      <section>
        <h3>
          Simple login form
        </h3>

        <div class="card login-card">
          <div class="card-body">
            <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" formControlName="email">
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password">
              </div>
              <div class="d-grid">
                <button class="btn btn-primary" type="submit">Login</button>
              </div>
            </form>
          </div>
        </div>
      </section>

      <section class="mt-5">
        <h3>
          Register form with nested form group
        </h3>

        <div class="card login-card">
          <div class="card-body">
            <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
              <div class="mb-3">
                <label for="first-name" class="form-label">First name</label>
                <input type="text" class="form-control" id="first-name" formControlName="firstName">
              </div>
              <div class="mb-3">
                <label for="last-name" class="form-label">Last name</label>
                <input type="text" class="form-control" id="last-name" formControlName="lastName">
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" formControlName="email">
              </div>
              <div formGroupName="address">
                <div class="mb-3">
                  <label for="street" class="form-label">Street</label>
                  <input type="text" class="form-control" id="street" formControlName="street">
                </div>
                <div class="mb-3">
                  <label for="city" class="form-label">City</label>
                  <input type="text" class="form-control" id="city" formControlName="city">
                </div>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password">
              </div>
              <div class="mb-3">
                <label for="confirm-password" class="form-label">Confirm password</label>
                <input type="password" class="form-control" id="confirm-password" formControlName="confirmPassword">
              </div>

              <div class="d-grid">
                <button class="btn btn-primary" type="submit">Register</button>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
